<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter notebook on IBM Watson Studio

**Muhtasib Hossain Munem**

Desired Occupation: Data Scientist

*I am interested in Data Science because I love Statistics*

### How to make a pandas dataframe

In [4]:
from pandas import *
d1=DataFrame({'Name': ['A','B'],
             'Age': [21,27.5]})
d1

  Name   Age
0    A  21.0
1    B  27.5